@use '../abstracts' as *;

.feature-box {
  background-color: rgba($color-white, 0.9);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.25);
  transition: transform 0.8s;

  @include respond(tab-port) {
    padding: 2rem;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to left,
      $color-gold-dark,
      $color-grey-light
    );
    -webkit-background-clip: text;
    //webkit-bg-clip is to clip bg color on the the tex, which must be set on transparent!
    color: transparent;
  }

  @include respond(tab-port) {
    margin-bottom: 0;
  }

  &:hover {
    outline: 0.2rem solid $color-gold-dark;
    transform: translateY(-1.5rem) scale(1.15);
  }
}
